.uploadedImage {
    height: 20vh;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
}

.imageElement {
    border: 1px solid black;
    display: inline-block;
    padding: 1rem;
}

.imageLabel {}

.imageObjects {}